# --- System & Environment ---
.DS_Store
.env
.venv/
venv/
__pycache__/

# --- Heavy Data Science Files ---
# We ignore these because they are too big for GitHub
# They are already hosted on Hugging Face!
data/raw/
data/processed/

*.joblib

!data/processed/clean_processed_khmertext_dataset.csv
!data/processed/processed_khmertext_dataset.csv

# --- Node/Web App ---
node_modules/
dist/
.gradio/